.products{
    display: flex;
    justify-content: center;
}
.card {
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 70%;
    height: 100%;
    background-color: rgba(247, 219, 186, 0);
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.082);
}
.card img {
    width: 20%;
}