.navbar {
    background-color: rgba(247, 219, 186, 0.137);
}

.navbar .navbar-nav {
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.navbar .navbar-nav a {
    font-size: 17px;
}

.navbar a:hover {
    color: rgba(253, 102, 102, 0.459);
}

.card {
    padding: 25px;
    margin: 10px;
    height: 120px;
    width: 250px;
    text-align: center;
    background-color: rgba(247, 219, 186, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.082);
}

.card a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

table img {
    width: 200px;
    height: 200px;
}

table {
    table-layout: fixed;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.table a {
    text-decoration: none;
    color: rgba(223, 43, 43, 0.589);
    font-size: 25px;
}

table th,
table td {
    text-align: center;
    padding: 12px;
    background-color: rgba(247, 219, 186, 0);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination .page-link {
    background-color: rgba(247, 219, 186, 0.342);
    color: black;
}